.title {
    margin-bottom: 20px;
}

.contest-list-wrap {
    margin-bottom: 10px;
}

@media (min-width: 768px){
    .container-fluid {
        margin-left: 15px;
        margin-right: 15px;
    }
}

#btn-area {
    margin-bottom: 20px;
}

.contest-name a {
    color: inherit;
}

.contest-name .updated-at {
    margin-left: 10px;
    color: darkgrey;
    font-size: 14px;
}

.submission {
    text-align: center;
}

.user-name {
    display: table-cell !important;
    vertical-align: middle !important;
}

.submission-status {
    font-size: 20px;
}

.submission-score {
    font-size: 14px;
}

.submission-language {
    font-size: 10px;
}

.submission-item {
    display: block;
}

.submission-item-AC {
    color: #468847;
}

.submission-item-WA {
    color: #f89406;
}

.submission-item-TLE {
    color: #f89406;
}
